{{ template "header.html" .}}
<title>About the Awesomeware Forum</title>
<meta property="og:title" content="About the Awesomeware Forum" />
<h1>About/FAQ</h1>
This is the official forum for discussing (and sometimes hosting) projects from the Awesomeware forum. While those are the main topics, you should expect to be able to use this as a general place for having friendly conversations.
<h3>Why is the layout?</h3>
<p>The fact that we use a forum instead of, say, a Discord server, is kind of a set up for many punchlines in conversations and perhaps even the comic itself; to add to the punchline, it should look like an old forum too. <a href='https://en.wikipedia.org/wiki/File:PhpBB_3.2_Index_page.png'>But actual old/trusted forum software looks horrible,</a> and it's often times insecure, hence the decision to base it off of MySpace/SpaceHey. This layout might not look too much better, but the hope is that it at least looks better then alternatives, and it hopes to be more secure.</p>
<h3>What is the site built on/can I host this myself/can I contribute to the code?</h3>
<p>The AwesomewareInc forum is based on an in-house software titled "LaffForum" developed by <a href='/user/IoIxD'>Gavin Parker (IoIxD)</a>. Soon after making this, I headed another project called <a href="https://github.com/dforum">dforum</a> which is superior in every way, and if you want to do something like this, you should use that instead. The source code is not open source.</p>
<h4>So why aren't you you using dforum?</h4>
<p>It's tied to Discord, and we felt that having an actual forum was more novel, something which not enough developers will likely agree with to warrant publishing the source code</p>
<h3>Why can't I upload images?</h3>
<p>Because this is hosted out of my own pocket and the server it's on isn't very expensive. It has 5gb storage left as I'm writing this and I constantly find myself having to find new things to remove from it. Even compressing it like many modern sites do would fill up the storage quicker then I'm willing to deal with. So for the time being, please just use Imgur.</p>
<h3>Contact Us</h3>
<p>Setting up an email server for contacting us is on the to-do list. In the mean time, this very forum is the best way to do so, or Discord DMs if you know the people on the team.</p>
{{ template "footer.html" .}}
