{{ template "header.html" . }}

{{$allowed := true}}
{{if not .Session.Username}}
	You aren't logged in.<br>
	{{$allowed = false}}
{{end}}

{{if $allowed}}
	{{if eq (len .Values) 0}}
		.<br>
		{{$allowed = false}}
	{{end}}
{{end}}

{{$postid := 0}}
{{if $allowed}}
	{{$postid = .Query.Get "post"}}
{{end}}

{{$backto := 0}}
{{if $allowed}}
	{{$backto = .Query.Get "backto"}}
{{end}}

{{$postinfo := ""}}
{{if $allowed}}
	{{$postinfo = GetPostInfo $postid}}
	{{if $postinfo.Error}}
		{{$postinfo.Error.Error}}<br>
		{{$allowed = false}}
	{{end}}
{{end}}

{{$fuckyou := GetIDByUsername .Session.Username}}
{{if and (not .Session.Me.Admin) (ne $postinfo.Author $fuckyou.Result )}}
	Permission denied bozo.<br>
	{{$allowed = false}}
{{end}}

{{if $allowed}}
	{{$confirm := .Query.Get "confirm"}}
	{{if $confirm}}
		{{$error := .Session.DeletePost  $postid .Session.Username}}
		{{if $error}}
			<b>{{$error}}</b>
		{{else}}
			{{Redirect (print "/post/" $backto) 303}}
		{{end}}
	{{end}}
{{end}}

{{if $allowed}}
	<title>Deleting post {{$postinfo.ID}}</title>
	<meta property="og:title" content="Deleting post {{$postinfo.ID}}" />
	<em>> {{$postinfo.Contents}}</em><br>
	<b>Delete?</b>
	<form method='get'>
		<input type='hidden' name='backto' value='{{$backto}}'>
		<input type='hidden' name='post' value='{{$postid}}'>
		<input type='hidden' name='confirm' value='1'>
		<input type='submit' value='Yes'>
	</form>
{{end}}
Footer
