{{define "announcementsbox"}}
<span class='box announcements'>
	<span class='box heading' style='
		background: #A0C99C;
		'>
		Announcements
	</span>
	<span class='contents'>
		{{$posts := GetPostsBySectionName "announcements"}}
		{{range $i, $v := $posts.Posts}}
			{{if not $v.Deleted}}
				<h3><a href='/post/{{$v.ID}}'>{{$v.Subject}}</a></h3>
			{{end}}
		{{end}}
	</span>
</span>
{{end}}
{{define "sectionsbox"}}
<span class='box sections'>
	<span class='box heading' style='
		background: #f9c56c;
		'>
		Sections
	</span>
	<span class='contents'>
		{{$sections := GetSections false}}
		{{if $sections.Error}}
			{{$sections.Error.Error}}
		{{else}}
			{{range $i, $v := $sections.Results}}
				<a href='/topic/{{$v.Name}}'>{{Capitalize $v.Name}}</a>
			{{end}}
		{{end}}
		<a style="font-style: italic; position: absolute; bottom: 1em; right: 1em; font-size: 90%" href="/sections">(See more...)</a>
	</span>
</span>
{{end}}
{{define "last5posts"}}
<span class='box last5'>
	<span class='box heading' style='
		background: #fcdbb8;
		'>
		Recently Posted
	</span>
	<span class='contents'>
		{{$posts := GetLastFivePosts}}
		{{if $posts.Error}}
			{{$posts.Error.Error}}
		{{else}}
			{{range $i, $v := $posts.Posts}}
				{{if not $v.Deleted}}
					<span class='item'>
						<b><a href='/post/{{$v.ID}}'>{{$v.Subject}}</a></b> by 
						{{$result := GetUsernameByID $v.Author}}
						{{if $result.Error}}
							<em style='{{$result.Error}}'>unknown</em>
						{{else}}
							{{if not $result.Result}}
								<em>[deleted]</em>
							{{else}}
								<a href='/user/{{$result.Result}}'>{{$result.Result}}</a>
							{{end}}
						{{end}}
						{{$result = PrettyTime $v.Timestamp}}
						{{if $result.Error}}
							<em style='{{$result.Error}}'>(couldn't get time posted)</em>
						{{else}}
							{{$result.Result}}
						{{end}}
					</span>
				{{end}}
			{{end}}
		{{end}}
	</span>
</span>
{{end}}
{{define "last5discussionposts"}}
<span class='box last5diss'>
	<span class='box heading' style='
		background: #1E40AF; color: white;
		'>
		Discuss recent projects.
	</span>
	<span class='contents'>
		{{$posts := GetLastFiveProjectDiscussionPosts}}
		{{if $posts.Error}}
			{{$posts.Error.Error}}
		{{else}}
			{{range $i, $v := $posts.Posts}}
				{{if not $v.Deleted}}
					<span class='item'>
						<b><a href='/post/{{$v.ID}}'>{{$v.Subject}}</a></b> by 
						{{$result := GetUsernameByID $v.Author}}
						{{if $result.Error}}
							<em style='{{$result.Error}}'>unknown</em>
						{{else}}
							{{if not $result.Result}}
								<em>[deleted]</em>
							{{else}}
								<a href='/user/{{$result.Result}}'>{{$result.Result}}</a>
							{{end}}
						{{end}}
						{{$result = PrettyTime $v.Timestamp}}
						{{if $result.Error}}
							<em style='{{$result.Error}}'>(couldn't get time posted)</em>
						{{else}}
							{{$result.Result}}
						{{end}}
					</span>
				{{end}}
			{{end}}
		{{end}}
	</span>
</span>
{{end}}