<html>
	<head>
		<link href="/resources/style.css" type="text/css" rel="stylesheet">
		<script src="/resources/script.js" defer></script>
		<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://{{.Request.Host}}/resources/logo.svg" />
	</head>
	<body>
		<span class='container'>
			<span class='header'>
				<span class='top'>
					<a class='logo' href='/'><img src="/resources/logo.svg" alt="LaffForum" width="128" height="64"></a>
					<!---
					<span class='search'>
						<input type='text'>
						<input type='submit'>
					</span>
					--->
					<span class='user'>
						{{if .Session.Username}}
							{{if .Session.Me.Deleted}}
								{{Redirect "/profile/reactivate" 303}}
							{{else}}
								{{$result := GetUnreadReplyingTo .Session.Username}}
								<a href='/notifications'>
									{{if $result.Error}}
										<em data-error='{{$result.Error}}'>(? Unread)</em>
									{{else}}
										{{$unread := (len $result.Posts)}}
										{{if ge $unread 1}}
											<span class='unread'>!! {{$unread}} Unread !! </span>
										{{else}}
											{{$unread}} Unread
										{{end}}
									{{end}}
								</a> |
								<a href="/user/{{.Session.Username}}">{{.Session.Username}}</a> | <a href='/logout'>Logout</a>
							{{end}}
						{{else}}
							<a href='/login'>LogIn</a> | <a href='/register'>SignUp</a>
						{{end}}
					</span>
				</span>
			</span>
			<span class='links'>
				<a href='/'>Home</a> | 
				<a href='/about'>About</a> | 
				<a href='/rules'>Rules</a> |
				<a href='/privacy'>Privacy</a>
			</span>
			<span class='main'>
