{{ template "header.html" .}}
<title>Funny Wars Forum</title>
<meta property="og:title" content="The Funny Wars Forum" />
<meta property="og:description" content="Official news and discussion regarding the Funny Wars comi" />
<span class='vbox'>
	<span class='hbox'>
		{{ template "sectionsbox" .}}
		<span class='whitespace'></span>
		<span class='box welcome'>
			<h1>The Funny Wars forum</h1>
			<p>Official news and discussion regarding the Funny Wars comic</p>
		</span>
	</span>
</span>
<span class='vbox'>
	<span class='hbox'>
		{{ template "announcementsbox" .}}
		{{ template "last5posts" .}}
	</span>
</span>
<span class='vbox'>
	<span class='hbox'>
		{{ template "last5discussionposts" .}}
	</span>
</span>
{{ template "footer.html" .}}