{{ template "header.html" .}}
<title>AwesomeWare Forum</title>
<meta property="og:title" content="The Awesomeware Forum" />
<meta property="og:description" content="Official news and discussion regarding Awesomeware projects" />
<span class='vbox'>
	{{if .Session.Me.Banned}}
		{{template "banned_session.html" .}}
	{{end}}
	<span class='hbox'>

		{{if not .Session.Username}}
		<span class='box welcome'>
			<h1>The AwesomeWare forum</h1>
			<p>Official news and discussion regarding Awesomeware projects</p>
		</span>
		<span class='whitespace'></span>
		{{end}}
		{{ template "announcementsbox" .}}
	</span>
</span>
<span class='vbox'>
	<span class='hbox'>
		{{ template "sectionsbox" .}}
		{{ template "last5posts" .}}
	</span>
</span>
{{ template "footer.html" .}}
