{{ define "posts_part1" }}
	<title>{{.PostSubject}}</title>
	<meta property="og:title" content="{{.PostSubject}}" />
	<meta property="og:description" content="{{.PostContents}}" />

	{{if .PassiveErrorHeading}}
		<h1>{{.PassiveErrorHeading}}</h1>
		<span style="white-space: pre-wrap">{{.PassiveErrorDescription}}</span>
	{{end}}
	<span class='vbox'>
		<span class='hbox'>
			<span class='box authorbox'>
				<span class="vbox">
					{{if .Author}}
					
					<span style="vertical-align: middle"  class="hbox">
						<span style=" flex: 5;" class="box">Post by <a href='/user/{{.Author}}'>{{.Author}}</a></span>
						<span class="box"><em>{{.Pronouns}}</em></span>
					</span>
					
				{{else}}
					<em>[deleted]</em>
				{{end}}
				
				<span class="box" style='font-weight: normal;'>posted {{.Timestamp}}</span>
				</span>
				
			</span>
			<span class='box postinfo'>
				<span class="vbox">
					{{if not .Deleted}}
						<span class="box"><h1>{{.PostSubject}}</h1></span>
					{{end}}
				
			
{{end}}


{{ define "posts_part2" }}
				</span>
			</span>
		</span>
	</span>
	<hr>
	<table class='replies'>
		<tbody>
{{end}}

{{define "actionsbox"}}
				<span class="hbox actions">
					<span class="box">
					<form class='replyto' action='/replyto'>
						<input type='hidden' name='backto' value='{{.BackTo}}'>
						<input type='hidden' name='post' value='{{.PostID}}'>
						
							<input type='submit' value='Reply'>
						
					</form>
				</span>
					{{if .CanDelete}}
						{{if .Deleted}}
							<span class="box">
								<form class='delete' action='/undelete'>
									<input type='hidden' name='backto' value='{{.BackTo}}'>
									<input type='hidden' name='post' value='{{.PostID}}'>
									<input type='submit' value='Restore'>
								</form>
							</span>
						{{else}}
							<span class="box">
								<form class='delete' action='/delete'>
									<input type='hidden' name='backto' value='{{.BackTo}}'>
									<input type='hidden' name='post' value='{{.PostID}}'>
									<input type='submit' value='Delete'>
								</form>
							</span>
						{{end}}
					{{end}}
			</span>
{{end}}

{{define "posts_part3"}}
		</tbody>
	</table>
{{end}}

