{{ define "posts_part1" }}
	<title>{{.PostSubject}}</title>
	<meta property="og:title" content="{{.PostSubject}}" />
	<meta property="og:description" content="{{.PostContents}}" />

	{{if .PassiveErrorHeading}}
		<h1>{{.PassiveErrorHeading}}</h1>
		<span style="white-space: pre-wrap">{{.PassiveErrorDescription}}</span>
	{{end}}
	<span class='vbox'>
		<span class='hbox'>
			<span class='box authorbox'>
				{{if .Author}}
					Post by <a href='/{{.Author}}'>{{.Author}}</a>
				{{else}}
					<em>[deleted]</em>
				{{end}}
				<br>
				<small style='font-weight: normal;'>posted {{.Timestamp}}</small>

			</span>
			<span class='box postinfo'>
				<h1>{{Markdown .PostSubject}}</h1>
				{{Markdown .PostContents}}
{{end}}

{{define "actionsbox"}}
				<span class='actions'>
					<form action='/replyto'>
						<input type='hidden' name='backto' value='{{.BackTo}}'>
						<input type='hidden' name='post' value='{{.PostID}}'>
						<input type='submit' value='Reply'>
					</form>
					{{if .CanDelete}}
						{{if .Deleted}}
							<form action='/undelete'>
								<input type='hidden' name='backto' value='{{.BackTo}}'>
								<input type='hidden' name='post' value='{{.PostID}}'>
								<input type='submit' value='Restore'>
							</form>
						{{else}}
							<form action='/delete'>
								<input type='hidden' name='backto' value='{{.BackTo}}'>
								<input type='hidden' name='post' value='{{.PostID}}'>
								<input type='submit' value='Delete'>
							</form>
						{{end}}
					{{end}}
				</span>
{{end}}

{{ define "posts_part2" }}
			</span>
		</span>
		{{if .CanReply}}
			<form class='vbox' method='post'>
				<span style='flex: 4' class='hbox'>
					<form class='vbox' method='post'>
						<span style='flex: 4' class='hbox'>
							<textarea rows='5' style='flex: 4' name='contents' placeholder='Reply'></textarea>
							<input style='flex: 1' type= 'submit' value='Post'>
						</span>
					</form>
				</span>
			</form>
		{{end}}
		</span>
	<hr>
	<table class='replies'>
		<tbody>
{{end}}

{{define "posts_part3"}}
		</tbody>
	</table>
</span>
{{end}}

