{{ define "posts_part1" }}
	<title>{{.PostSubject}}</title>
	<meta property="og:title" content="{{.PostSubject}}" />
	<meta property="og:description" content="{{.PostContents}}" />

	{{if .PassiveErrorHeading}}
		<h1>{{.PassiveErrorHeading}}</h1>
		<span style="white-space: pre-wrap">{{.PassiveErrorDescription}}</span>
	{{end}}
	<span class='vbox'>
		<span class='hbox'>
			<span class='box authorbox'>
				{{if .Author}}
					Post by <a href='/pages/{{.Author}}'>{{.Author}}</a>
				{{else}}
					<em>[deleted]</em>
				{{end}}
				<br>
				<small style='font-weight: normal;'>posted {{.Timestamp}}</small>
			</span>
			<span class='box postinfo'>
			{{if not .Deleted}}
				<h1>{{.PostSubject}}</h1>
			{{end}}
{{end}}


{{ define "posts_part2" }}
			</span>
		</span>
	</span>
	<hr>
	<table class='replies'>
		<tbody>
{{end}}

{{define "actionsbox"}}
				<span class='actions'>
					<form class='replyto' action='/replyto'>
						<input type='hidden' name='backto' value='{{.BackTo}}'>
						<input type='hidden' name='post' value='{{.PostID}}'>
						<input type='submit' value='Reply'>
					</form>
					{{if .CanDelete}}
						{{if .Deleted}}
							<form class='delete' action='/undelete'>
								<input type='hidden' name='backto' value='{{.BackTo}}'>
								<input type='hidden' name='post' value='{{.PostID}}'>
								<input type='submit' value='Restore'>
							</form>
						{{else}}
							<form class='delete' action='/delete'>
								<input type='hidden' name='backto' value='{{.BackTo}}'>
								<input type='hidden' name='post' value='{{.PostID}}'>
								<input type='submit' value='Delete'>
							</form>
						{{end}}
					{{end}}
				</span>
{{end}}

{{define "posts_part3"}}
		</tbody>
	</table>
{{end}}

