{{ template "header.html" .}}
<meta property="og:title" content="AwesomeWare Forum Rules" />
<title>Rules</title>
<h1>Rules</h1>
<ul>
	<li><b>Act civil.</b></li>
	<li><b>No hate speech;</b> <em>regardless of whether you think people want to hear it or you think you're entitled to this kind of free speech, the people using this forum are not going to take you seriously.</em>. The forum also used to be called the Funny Wars forum and you don't want to be called out for hate speech on the fucking Funny Wars Forum do you?</li> 
	<li><b>Do not start drama or bring drama in;</b> admins reserve the right to remove content that concerns matters outside of the site. Posts about specific users here or what they've done are canidates for removal.</li>
	<li><b>Don't spam.</b> Nobody likes spam.</li>
	<ul class='indent'>
		<li>Russian bots will be wasting their time, most of the small community here is not interested.</li>
	</ul>
	<li><b>Please don't link to pornography or grotesque images.</b> Your arguments about whether people should learn to look at pornography will go into the void, there are many people here who are simply not interested in being shown grotesque images or porn.</li>
</ul>
{{ template "footer.html" .}}
