{{$topic := index .Values 1}}
{{$admin := .Session.Me.Admin}}
{{$sectioninf := GetSectionInfo $topic}}
{{if $sectioninf.Error}}
	{{$sectioninf.Error.Error}}
{{else}}
	<title>Posts in {{Capitalize $topic}}</title>
	<meta property="og:title" content="Posts in {{Capitalize $topic}}" />
	<meta property="og:description" content="See the posts in {{Capitalize $topic}} on the Awesomeware Forum" />
	{{if $sectioninf.Archived}}
	<span class='box heading' style='
		background: rgb(255, 69, 69);
		color: white;
		text-align: center;
		'>This section has been archived. There is no more to talk about here, it's only here for historical purposes.
	</span>
	{{end}}
	<span class='box heading' style='
		background: #f9c56c;
		'>
		Posts in {{Capitalize $topic}} 
	</span>
	{{if .Session.Username}}
		{{if not $sectioninf.Archived}}
			{{if ge $sectioninf.AdminOnly 1}}
				{{if $admin}}
					<a href='/topic/{{$topic}}/submit' class='box make-post'>Submit a topic</a>
				{{end}}
			{{else}}
				<a href='/topic/{{$topic}}/submit' class='box make-post'>Submit a topic</a>
			{{end}}
		{{end}}
	{{end}}
	{{$posts := GetPostsBySectionName $topic}}
	{{if $posts.Error}}
		{{$posts.Error.Error}}
	{{else}}
	<table class='posts'>
		<thead>
			<tr>
				<th>From</th>
				<th>Subject</th>
			</tr>
		</thead>
		<tbody>
		{{range $i, $v := $posts.Posts}}
			{{if not $v.Deleted}}
				<tr>
					<td class='from'>
					{{$author := GetUsernameByID $v.Author}}
					{{if $author.Error}}
						Could not get author; {{$author.Error.Error}}
					{{else}}
						{{if $author.Result}}
							<a href='/user/{{$author.Result}}'>{{$author.Result}}</a>
						{{else}}
							<em>[deleted]</em>
						{{end}}
					{{end}}
					</td>
					<td class='subject'><a href='/post/{{$v.ID}}'>{{$v.Subject}}</a></td>
				</tr>
			{{end}}
		{{end}}
		</tbody>
	</table>
	{{end}}
{{end}}
