/*
:root {
    --light-gray: #f2f0f0;
    --gray: #e3e3e3;
    --dark-gray: #919191;
    --darker-gray: #545454;
    --logo-blue: #1D4ED8;
    --darker-blue: #1E40AF;
    --lighter-blue: #60A5FA;
    --even-lighter-blue: #BFDBFE;
    --lightest-blue: #DBEAFE;
    --red: #FF0000;
    --dark-orange: #ED0707;
    --light-orange: #f9c56c;
    --even-lighter-orange: #fcdbb8;
    --strange-yellow: #dbae2e;
    --green: #34D399;
    --light-green: #E6F8DD;
    --medium-green: #A0C99C;
    --dark-green: #059669;
    accent-color: #1D4ED8;
    accent-color: var(--logo-blue);
}
*/

* {
	box-sizing: border-box!important;
}

body {
	background-color: #e3e3e3;
	margin: 0;
	padding: 0;
	font-family: verdana, arial, sans-serif, helvetica;
	font-size: 0.75rem;
}

a:not(:hover) {
	text-decoration: none;
}

textarea {
	height: 100%;
}
 
:not(.indent) > li {
	margin-top: 2em;
	margin-bottom: 2em;
}

li+ul {
	margin-top: -2em!important;
}

/* GENERAL CLASSES */
.box {
	display: block;
	color: black;
	padding: 4px;
}

.heading {
	width: 100%;
	background: #f9c56c;
	font-weight: bold;
	margin: 0 0 4px 0;
}

.box .contents {
	padding: 5px;
}

/* MAIN PAGE */
.container {
	background: white;
	max-width: 50rem;
	width: auto;
	min-height: 100%;
	display: block;
	margin: 0 auto;
}

.main {
	padding: 16px 10px;
	width: 100%;
	min-height: 100%;
	display: block;
}

/* HEADER */ 

.header {
	background-color: #1D4ED8;
	display: block;
	position: relative;
	width: 100%;
}

.header .top {
	display: flex;
	padding: 15px 10px 14px 10px;
}

.header .logo,
.header .user {
	flex: 7;
	display: inline-block;
}
.header .search {
	flex: 6;
	display: inline-block;
	min-width: 0px;
}

.header .logo {
	align-self: flex-start;
}
.header .search {
	align-self: center;
}
.header .user {
	align-self: flex-end;
	text-align: right;
}

.header a {
	color: white;
}

.links {
	display: block;
	padding: 3.5px 16px 5.5px 16px;
	background-color: #60A5FA;
}
.links a {
	color: white;
}

.unread {
	color: #FF0000; 
	font-weight:900; 
	text-shadow: 1px 1px black;
}

/* MAIN PAGE*/

.sections {
	flex: 1;
	border: 1px solid #f9c56c; 
	position: relative;
	min-width: 25%;
	color: black;
	margin: 8px;
}

.sections a, .announcements a, .last5 .item {
	display: block;
	margin-left: 1em;
}

.announcements {
	flex: 2;
	border: 1px solid #A0C99C; 
	position: relative;
	min-width: 25%;
	color: black;
	margin: 8px;
}

.welcome {
	flex: 3;
	background: #34D399; 
	position: relative;
	color: white; 
	text-align: center;
	min-width: 50%;
	margin: 8px;
}

.last5 {
	flex: 2;
	border: 1px solid #fcdbb8; 
	position: relative;
	min-width: 50%;
	margin: 8px;
}

.last5diss {
	flex: 2;
	border: 1px solid #1E40AF; 
	position: relative;
	min-width: 50%;
	margin: 8px;
}


.last5 .item, .last5diss .item {
	display: block;
	margin-left: 1em;
}

.whitespace {
	display: block;
	flex: 2;
}

/* POST LISTING */

table.posts {
	font-size: 100%;
	border-collapse: collapse;
    border-spacing: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 100%;
    margin: 4em 0;
}

table.posts th, table.posts td {
	border: 2px solid black;
	padding: 7px;
	display: table-cell;
}

table.posts tr {
	padding: 5px;
}

table.posts .topic {
	width: 20%;
}
table.posts .from {
	width: 34%;
}

table.posts .subject {
	width: 100%;
}

/* POST CREATION */

.make-post {
	margin: 1em;
	background: #1E40AF;
	width: 20%;
	float: right;
	color: white;
}

/* POST PAGE */

.vbox {
	display: flex;
	flex-direction: column;
	position: relative;
}

.vbox .hbox {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.vbox .hbox:nth-of-type(1) {
	align-self: flex-start;
}

.authorbox {
	background: #DBEAFE;
	border: 1px solid #60A5FA;
	display: inline-block;
	flex: 1;
	align-self: flex-start;
}

.postinfo {
	flex: 4;
	align-self: flex-start;
	position: relative;
}

.actions {
	position: absolute;
	top: 5px;
	right: 5px;
}

.actions .replyto, .actions .delete {
    position: absolute;
    width: 64px;
    top: 0;
}
.actions input {
	width: 64px;
}
.actions .replyto {
	right: 0;
}
.actions .delete {
	right: 74px;
}



table.replies {
	font-size: 120%;
	border-collapse: collapse;
    border-spacing: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 100%;
    margin: 0;
}

table.replies td {
	border: 2px solid white;
	padding: 7px;
	display: table-cell;
	position: relative;
}

table.replies tr {
	padding: 5px;
}

table.replies tr input[type="submit"] {
	float: right;
}

table.replies .deleted, table.posts .deleted {
	opacity: 0.5;
}

table.replies .from {
	background:  #f9c56c;
	width: 34%;
	text-align: center;
	font-weight: bold;
}

table.replies .contents {
	background: #fcdbb8;
	width: 100%;
}

table.replies .contents p {
	margin: 0;
}

.original-post p {
	opacity: 0.75;
	display: block;
}

.original-post p:before {
	content: "> ";
}

/* USER PAGE */

.userinfo {
	background: #DBEAFE;
	border: 1px solid #60A5FA;
	flex: 1;
	min-height: 0px!important;
	position: relative;
}

.userinfo + .posts {
	flex: 5;
}

.userinfo .editprofilebutton {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

/* mobile */

@media (max-width: 600px) {
	body {
		font-size: 5vw!important;
	}
	.vbox .hbox {
		flex-direction: column;
	}
	.make-post {
		width: 90%!important;
		text-align: center;
	}
}

@media (prefers-color-scheme: dark) {
	/* fuck your dark mode the site isn't that bright */
	body {color: black!important;}
}

.quake-iframe {
	border: none!important;
	width: 40vw;
	height: 30vw;
	display: block;
	pointer-events: none!important;
}

.opengraph_prefix {
	color: #03c;
	text-decoration:underline;
}

.opengraph {
	display:block;
	width: 75%;
	background: #eee;
	padding: 0.5em;
	margin: -1em 0;
}
.replies .opengraph {
	background: #fad67d;
}
.opengraph * {
	color: #444;
	text-decoration: none;
}
.replies .opengraph * {
	color:black;
}
.opengraph img {
	max-width: 100%;
	max-height: 100%;
}
