/*
:root {
    --light-gray: #f2f0f0;
    --gray: #e3e3e3;
    --dark-gray: #919191;
    --darker-gray: #545454;
    --logo-blue: #1D4ED8;
    --darker-blue: #1E40AF;
    --lighter-blue: #60A5FA;
    --even-lighter-blue: #BFDBFE;
    --lightest-blue: #DBEAFE;
    --red: #FF0000;
    --dark-orange: #ED0707;
    --light-orange: #f9c56c;
    --even-lighter-orange: #fcdbb8;
    --strange-yellow: #dbae2e;
    --green: #34D399;
    --light-green: #E6F8DD;
    --medium-green: #A0C99C;
    --dark-green: #059669;
    accent-color: #1D4ED8;
    accent-color: var(--logo-blue);
}
*/

* {
	box-sizing: border-box;
}

body {
	background-color: #e3e3e3;
	margin: 0;
	padding: 0;
	font-family: verdana, arial, sans-serif, helvetica;
	font-size: 0.75rem;
}

a:not(:hover) {
	text-decoration: none;
}

textarea {
	height: 100%;
}

.container {
	background: white;
	max-width: 50rem;
	width: auto;
	min-height: 100%;
	display: block;
	margin: 0 auto;
}

.header {
	background-color: #1D4ED8;
	display: block;
	position: relative;
}

.header .top {
	display: flex;
	padding: 15px 10px 14px 10px;
}

.header .search {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.header .user {
	position: absolute;
	right: 1em;
	color: white;
}
.header .user a {
	color: white;
}

.header .links {
	display: block;
	padding: 3.5px 16px 5.5px 16px;
	background-color: #60A5FA;
}

.header .links a {
	color: white;
}

.main {
	padding: 16px 10px;
	width: 100%;
	min-height: 100%;
	display: block;
}

.box {
	display: block;
	color: black;
	font-weight: bold;
	padding: 4px;
}

.heading {
	width: 100%;
	background: #f9c56c;
	font-size: 130%;
}

table.posts {
	font-size: 100%;
	border-collapse: collapse;
    border-spacing: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 100%;
    margin: 4em 0;
}

table.posts th, table.posts td {
	border: 2px solid black;
	padding: 7px;
	display: table-cell;
}

table.posts tr {
	padding: 5px;
}

table.posts .from {
	width: 34%;
}

table.posts .subject {
	width: 100%;
}

.make-post {
	margin: 1em;
	background: #1E40AF;
	width: 20%;
	float: right;
	color: white;
}

.authorbox {
	width: 15%;
	min-height: 20%;
	float: left;
	background: #DBEAFE;
	border: 1px solid #60A5FA;
	display: inline-block;
}



.postinfo {
	width: 80%;
	float: right;
	display: inline-block;
}


.userinfo {
	width: 15%;
	height: 80%;
	float: left;
	background: #DBEAFE;
	border: 1px solid #60A5FA;
	display: inline-block;
}

.posts.user {
	width: 80%!important;
	float: right;
}

.replybox {
    width: 80%;
    height: 15%;
    float: right;
    margin: 5em 0;
}