{{ template "header.html" .}}
{{$valuelen := len .Values}}
{{if eq $valuelen 0}}
	you have me nothing you fuckwad
{{else}}
	{{$postid := index .Values 1}}
	{{$post := GetPostInfo $postid}}
	{{if ne $post.Error.Error ""}}
		{{$post.Error.Error}}
	{{else}}
		<span class='box authorbox'>
			{{$author := GetUsernameByID $post.Author}}
			{{if ne $author.Error.Error ""}}
				Could not get author; $author.Error.Error
			{{else}}
				Post by <a href='/user/{{$author.Result}}/'>{{$author.Result}}</a><br>
				<small>Made on {{$post.Timestamp}}</small>
			{{end}}
		</span><span class='box postinfo'>
			<h1>{{$post.Subject}}</h1>
			{{$post.Contents}}
		</span>
	{{end}}
{{end}}
{{ template "footer.html" .}}
