{{ template "header.html" .}}

{{$userinfo := ""}}
{{$username := ""}}
{{if .SessionValues}}
	{{$username = index .SessionValues "username"}}
	{{$userinfo = GetUserInfo $username }}
	{{if $userinfo.Error}}
		Error getting info about this user: {{$userinfo.Error.Error}}
	{{end}}
{{end}}

{{$valuelen := len .Values}}
{{if eq $valuelen 0}}
	you have me nothing you fuckwad
{{else}}
	{{$postid := index .Values 1}}
	{{$post := GetPostInfo $postid}}
	{{if $post.Error}}
		{{$post.Error.Error}}
	{{else}}
		{{$sectioninf := GetSectionInfo $post.Topic}}
		{{if $sectioninf.Error}}
			{{$sectioninf.Error.Error}}
		{{else}}
		<span class='box authorbox'>
			{{$author := GetUsernameByID $post.Author}}
			{{if $author.Error}}
				Could not get author; {{$author.Error.Error}}
			{{else}}
				Post by <a href='/user/{{$author.Result}}/'>{{$author.Result}}</a><br>
			{{end}}
			<br>
			{{$timestamp := PrettyTime $post.Timestamp}}
			{{if $timestamp.Error}}
				Couldn't get timestamp; {{$timestamp.Error.Error}}
			{{else}}
				<small style='font-weight: normal;'>posted {{$timestamp.Result}}</small>
			{{end}}
		</span>
		<span class='box postinfo'>
			<h1>{{$post.Subject}}</h1>
			{{$post.Contents}}
		</span>
		{{end}}

		{{if $username}}
			{{if eq $sectioninf.AdminOnly 2}}
				{{if $userinfo.Admin}}
					<textarea class='replybox' placeholder='Reply'></textarea>
				{{end}}
			{{else}}
				<textarea class='replybox' placeholder='Reply'></textarea>
			{{end}}
		{{end}}
	{{end}}
{{end}}
{{ template "footer.html" .}}
