{{ template "header.html" . }}

{{$allowed := true}}
{{if .Session.Username}}
{{else}}
	You aren't logged in.<br>
	{{$allowed = false}}
{{end}}

{{if $allowed}}
	{{if eq (len .Values) 0}}
		what are you doing.<br>
		{{$allowed = false}}
	{{end}}
{{end}}

{{$postid := 0}}
{{if $allowed}}
	{{$postid = .Query.Get "post"}}
{{end}}

{{$backto := 0}}
{{if $allowed}}
	{{$backto = .Query.Get "backto"}}
{{end}}

{{$postinfo := ""}}
{{if $allowed}}
	{{$postinfo = GetPostInfo $postid}}
	{{if $postinfo.Error}}
		{{$postinfo.Error.Error}}<br>
		{{$allowed = false}}
	{{end}}
{{end}}

{{$sectioninfo := ""}}
{{if $allowed}}
	{{$sectioninfo = GetSectionInfo $postinfo.Topic}}
	{{if $sectioninfo.Error}}
		{{$sectioninfo.Error.Error}}<br>
		{{$allowed = false}}
	{{else}}
		{{if eq $sectioninfo.AdminOnly 2}}
			{{if .Session.Me.Admin}}
			{{else}}
				<h1>Permission denied</h1>
				$allowed = false
			{{end}}
		{{end}}
	{{end}}
{{end}}

{{if $allowed}}
	{{$contents := .Query.Get "content"}}
	{{if ge (len $contents) 1}}
		{{$post := .Session.SubmitPost .Request $postinfo.Topic (print "RE: " $postinfo.Subject) $contents $postid}}
		{{$post}}
		{{if $post.Error}}
			<h1>Error while submitting your reply.</h1>
			<span style="white-space: pre-wrap">{{$post.Error}}</span>
		{{else}}
			{{Redirect (print "/post/" $backto) 303}}	
		{{end}}
	{{else}}
	{{$replyee := GetUsernameByID $postinfo.Author}}
	{{if $replyee.Error}}
		<h3>(couldn't get the name of the person this reply is directed at; ){{$replyee.Error.Error}}</h3>
	{{else}}
		<title>Reply to {{$replyee.Result}}'s post in {{Capitalize $sectioninfo.Name}}</title>
		<meta property="og:title" content="Reply to {{$replyee.Result}}'s post in {{Capitalize $sectioninfo.Name}}" />
		<h1>Reply to {{$replyee.Result}}'s post in {{Capitalize $sectioninfo.Name}}</h1>
	<strikethough>You can use markdown to flair your posts.</strikethough> Image uploads are currently not supported, please link to <a href="https://imgur.com/">Imgur</a><br><br>
	<form method='get' action='/replyto'>
		<input type='hidden' name='post' value='{{$postid}}'>
		<input type='hidden' name='backto' value='{{$backto}}'>
		<textarea style="width: 100%; height: 25%; display:block;" name='content' value='{{$contents}}'></textarea>
		<input type='submit'>
	</form>
	{{end}}
	{{end}}
{{end}}