{{$topic := index .Values 1}}

{{$sectioninf := GetSectionInfo $topic}}
{{if $sectioninf.Error}}
	{{$sectioninf.Error.Error}}
{{else}}
	<span class='box heading' style='
		background: #f9c56c;
		'>
		Threads in {{Capitalize $topic}} 
	</span>
	{{if .Global.Username}}
		{{if ge $sectioninf.AdminOnly 1}}
			{{if .Global.Me.Admin}}
				<a href='/topic/{{$topic}}/submit' class='box make-post'>Submit a topic</a>
			{{end}}
		{{else}}
			<a href='/topic/{{$topic}}/submit' class='box make-post'>Submit a topic</a>
		{{end}}
	{{end}}
	{{$posts := GetPostsBySectionName $topic}}
	{{if $posts.Error}}
		{{$posts.Error.Error}}
	{{else}}
	<table class='posts'>
		<thead>
			<tr>
				<th>From</th>
				<th>Subject</th>
			</tr>
		</thead>
		<tbody>
		{{range $i, $v := $posts.Posts}}
			<tr>
				<td class='from'>
				{{$author := GetUsernameByID $v.Author}}
				{{if $author.Error}}
					Could not get author; {{$author.Error.Error}}
				{{else}}
					<a href='/user/{{$author.Result}}'>{{$author.Result}}</a>
				{{end}}
				</td>
				<td class='subject'><a href='/post/{{$v.ID}}'>{{$v.Subject}}</a></td>
			</tr>
		{{end}}
		</tbody>
	</table>
	{{end}}
{{end}}